.home {
  background-color: #242b34;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  letter-spacing: 1.5px;
  font-family: "Roboto", sans-serif;
}

.home__container {
  height: 100%;
  margin: 8% 10% 0 10%;
}
.home__title {
  font-size: 5vw;
}
.home__subtitle {
  font-size: 3vw;
  font-weight: 200;
  margin: 0;
}

.subtitle__color {
  color: #00fafa;
}

.home__paragraph {
  line-height: 2.5rem;
  width: 85%;
  padding-top: 1rem;
}

.home__stack {
  color: #00fafa;
  padding: 1rem 0 1rem 0;
  margin: 0;
}

.btn__container {
  padding: 1rem 0 1rem 0;
  .button {
    padding: 0.5rem 2rem;

    color: #fff;
    background-color: #7be4f13d;
    box-shadow: none;
    text-decoration: none;
    border: none;
    border-radius: 5px;
  }
}
.footer {
  color: rgb(53, 53, 53);
}

.footerLinks {
  color: #000;
  background-color: #f4fa9c;
  text-decoration: none !important;
  margin: 0 0.5rem;
  border: solid;
  padding: 0.2rem;
  border-radius: 4px;
  &:hover {
    background-color: #fff;
  }
}
