.title {
  color: #353535;
  box-shadow: none;
  letter-spacing: 0.95px;
  padding: 0.5rem;
  &:hover {
    color: hsla(0, 0%, 0%, 0.66);
  }
}

.content {
  color: hsla(0, 0%, 0%, 0.66);
  padding: 0.5rem;
}

.description {
  color: hsla(0, 0%, 0%, 0.66);
  padding: 0.5rem;
  border-bottom: 2px solid #353535;
}

.greating {
  color: #353535;
  margin: 0.2rem 0;
}
.aboutMe {
  margin: 0.22rem;
  line-height: 2rem;
  font-size: 1.1rem;
}
.footer {
  color: rgb(53, 53, 53);
}

.footerLinks {
  color: #fff;
  text-decoration: none !important;
  margin: 0 0.5rem;
  border: solid;
  padding: 0.2rem;
  background-color: #364f6b96;
  border-radius: 20%;
  &:hover {
    background-color: #364f6b;
  }
}
